<h2>Welcome to Freelection!</h2>

<div>
	Your new election {{name}} is now ready for voting. <a href="http://freelection.herokuapp.com/#vote/{{_id}}">Click here</a> to vote in your election, or <a href="http://freelection.herokuapp.com/#election/{{_id}}">here</a> to manage candidates.
	<br/>
	Once voting has concluded, you can view the results <a href="http://freelection.herokuapp.com/#results/{{_id}}">here</a>.
	<br/>
	Thank you for using Freelection!
</div>

<small>Freelection is a free service which we hope you will find useful and easy-to-use.  If you have any questions, please email me at <a href="freelectionapp@gmail.com"">freelectionapp@gmail.com</a> or reach me on <a href="https://www.twitter.com/brettjonesdev">@brettjonesdev</a>.</small>