<h2>Create a new Election</h2>

<small>All fields are required unless otherwise noted</small>
<form>
	<legend>Set up your new Election</legend>
	<div class="control-group">
		<label>Name</label>
		<input type="text" placeholder="My Election" name="name" id="name">
		<span class="help-inline" data-error="true"></span>
		<span class="help-block">Give your Election a unique name</span>
	</div>
	<div class="control-group">
		<label>Email</label>
		<input type="text" placeholder="youremail@address.com" name="email" id="email">
		<span class="help-inline" data-error="true"></span>
		<span class="help-block">Email address of the Election commissioner (you!)</span>
	</div>
	
	<div class="control-group">
		<label>Description</label>
		<input type="text" placeholder="2012 United States Presidential election" name="description" id="description">
		<span class="help-inline" data-error="true"></span>
		<span class="help-block">Describe your Election (optional)</span>
	</div>
	<div class="form-actions">
		<a href="#" class="btn">Cancel</a>
		<button class="btn btn-primary save">Save</button>
	</div>
	
</form>
