<div class="span6" style="text-align: center;">
	<h2>Create a New Election</h2>
	<a href="#create" class="btn btn-success btn-large" style="width: 100px;">Create</a>
</div>
<div class="span6" style="text-align: center;">
	<h2>Vote in an Election</h2>
	<a href="#vote" class="btn btn-primary btn-large" style="width: 100px;">Vote</a>
</div>